# Maven
target/
srcAuthTest/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# Properties
src/main/resources/hibernate.cfg.xml

# Eclipse
.classpath
.settings
.project
.metadata
