[Unit]
Description=SparkyService

[Service]
WorkingDirectory=/home/elscha/Sparky
ExecStart=/usr/bin/java -jar -Dspring.profiles.active=postgres,demo sparkyservice-spring-boot.jar
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
