[Unit]
Description=Sparky Service

[Service]
WorkingDirectory=/home/elscha/Sparky
ExecStart=/usr/bin/java -cp sparkyservice-spring-boot.jar:application.yml org.springframework.boot.loader.JarLauncher
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
